.gallery__button {
  /* max-width: 22px;
  width: 100%; */
  width: 22px;
  height: 20px;
  background-size: contain;
  background-color: inherit;
  background-image: url(../../../images/core.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
}
.gallery__button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
