.gallery__button_active {
  background-image: url(../../../../images/core-black.svg);
}
.gallery__button_active:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
