.profile__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

@media (max-width: 425px) {
  .profile__wrapper {
    flex-direction: column;
    gap: 26px;
  }
}
