.popup__form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 34px 36px 37px;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .popup__form {
    padding: 25px 22px;
  }
}
